@using NewApplicationChatSS.ViewModels

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<html>
<head>
    <link href="~/css/chat.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/css/chat.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet" />

    <!-- Вынести потом в отдельный файл скрипта-->
</head>
<body onload="changeChatState()">
    <br><br>
    <input hidden id="current-room-id" value="@ViewBag.CurrentRoomId" />
    <input hidden id="user-name" value="@ViewBag.UserName" />
    <input hidden id="type-room" value="@ViewBag.TypeRoom" />

    <div class="container">
        <h3 class=" text-center">@ViewBag.CurrentRoomName</h3>
        <div class="messaging">
            <div class="inbox_msg">
                <div class="inbox_people">
                    <div class="headind_srch">
                        <div class="recent_heading">
                            <h4>Контакты</h4>
                        </div>
                        <div class="srch_bar">
                            <div class="stylish-input-group">
                                <input type="text" class="search-bar" placeholder="Search">
                                <span class="input-group-addon">
                                    <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="inbox_chat">
                        @foreach (RoomViewModel room in ViewBag.RoomsUser)
                        {
                            <a asp-controller="Home" asp-action="Chat" asp-route-id="@room.Id" class="chat-ref-@room.Id">
                                <div class="chat_list @room.Id">
                                    <div class="chat_people">
                                        <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png"> </div>
                                        <div class="chat_ib">
                                            <h5 class="h5-room-name-@room.Id">@room.RoomName<span class="chat_date last-chat-date-@room.Id">@string.Format("{0:d}", room?.LastMessage?.DatePublication)</span></h5>
                                            <p class="last-message-room-@room.Id">@room?.LastMessage?.ContentMessage</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        }
                    </div>
                </div>
                <div class="mesgs">
                    <div class="msg_history">
                        @foreach (MessageViewModel message in ViewBag.Messages) 
                        {
                            if (User.Identity.Name != message.User.Id.ToString())
                            {
                                <div class="incoming_msg">
                                    <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png"> </div>
                                    <div class="received_msg">
                                        <div class="received_withd_msg" id="@message.Id">
                                            <p>@message.User.UserName</p>
                                            <p style="word-wrap: break-word">@message.ContentMessage</p>
                                            <span class="time_date">@message.DatePublication</span>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="outgoing_msg">
                                    <div class="sent_msg" id="@message.Id" onclick="HighlightMessagesForDeletion(this)">
                                        <p style="word-wrap: break-word">@message.ContentMessage</p>
                                        <span class="time_date">@message.DatePublication</span>
                                    </div>
                                </div>
                            }
                        }

                    </div>
                    <a asp-action="Delete" asp-controller="Message"></a>
                    <div class="type_msg">
                        <div class="input_msg_write">
                            <input type="text" class="write_msg" placeholder="Написать сообщение" /> 
                            <button class="msg_send_btn" type="button"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        var arr = [];
        function changeChatState() {
            $(".@ViewBag.CurrentRoomId").toggleClass('active_chat');
            document.querySelector('.msg_history').scrollTop = 9999;
            if(@ViewBag.IsKicked) {
                alert("Вы были исключены из данной группы");
            }
            document.querySelector('.msg_history').scrollTop = 9999;
        }

        function HighlightMessagesForDeletion(event) {
            let messageId = event.id;
            if (!arr.includes(messageId)) {
                event.firstElementChild.style.cssText = "color: #721c24; background-color: #f8d7da; border-color:#f5c6cb; word-wrap: break-word";
                let button = document.createElement("button");
                    button.type = "button";
                    button.setAttribute("data-dismiss","alert");
                    button.setAttribute("aria-label","Close");
                    button.className = "close";
                    button.id = "button-close" + messageId;
                    button.onclick = function () {
                        document.location.href = "/Message/Delete/@ViewBag.CurrentRoomId/" + messageId;
                    };
                var span = document.createElement("span");
                    span.setAttribute("aria-hidden","true");
                    span.innerHTML = "&#215;";

            event.prepend(button);
            let parent = document.querySelector("#button-close" + messageId);
            parent.prepend(span);
            arr.push(messageId);
            }
            else {
                let elem = document.querySelector("#button-close" + messageId);
                elem.remove();
                event.firstElementChild.style.cssText = "color: #fff; background-color: #05728f; word-wrap: break-word";
                arr.pop(messageId);
            }
        }
    </script>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script>
</body>
</html>